# Required for OAuth
authlib==1.6.6

# Required for our custom logger
python-json-logger==4.0.0

# Additional drivers for Superset (or SQLAlchemy) to use
mysql-connector-python==9.5.0

# Required for Gunicorn
gevent==24.2.1

# Metrics
prometheus-flask-exporter==0.23.2
